<!DOCTYPE html> 
<html> 
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="prensa, resumen, económica, economía, actualidad" />
	<meta http-equiv="content-language" content="es-ES">
	<meta name="language" content="spanish">
	<meta name="Clasiagenda" content="" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
</head>

<body>
{% block contenido %}
{% endblock %}
</body>

</html>
