{% extends "base_resumen_detail.html" %}
{% block meta_name_description %}
<meta name="description" content="Noticias detalladas.">
{% endblock %}

{% block head_title %}Resumen: {{ object.titulo }}{% endblock %}
{% block navi %}
<div id="navi">
    <ul id="menulava">
		<li><a title="Inicio La Prensa de Hoy" href="/">Inicio</a></li>
		<li><a title="buscar" href="/buscar/">Búsqueda</a></li>
		<li class="current"><a title="noticias" href="/resumenes/">Resúmenes</a></li>
		<li><a title="demo" href="/demo/">Demo</a></li>
		<li><a title="contacte con La Prensa de Hoy" href="/contacto/">Contacto</a></li>
    </ul>
</div>	
{% endblock %}

{% block contenido %}
    <div id="resumen">
        <img id="logo-detalle" src="/static/images/logo-lpdh-resumen-detail.png" alt="La Prensa de Hoy" />
        <p><small>{{ object.fecha_publicacion|date:"j \d\e F, Y" }}</small>
        <small><span class="romanos">nº {{ object.num_serie }} año {{ object.num_romano }}</span></small></p>
        <div id="logoempresa">
        {% if user.username == 'bosch' %}
            <img class="logo-empresa" src="/static/images/bosch.png" alt="Bosch" />
        {% endif %}
        {% if user.username == 'vodafone' %}
            <img class="logo-empresa" src="/static/images/vodafone2.png" alt="Vodafone" />
        {% endif %}
        {% if user.username != 'vodafone' and user.username != 'bosch' %}
            <img class="sulogo-empresa" src="/static/images/su_logo5.png" alt="Su Logo" />
        {% endif %}
        </div>
        {{ object.contenido|safe }}
        {% if user.username == 'bosch' %}
            {{ object.tiempo|safe }}
        {% endif %}
    </div>
{% endblock %}
