<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>La Prensa de Hoy - Toda la actualidad económica a primera hora de la mañana | {% block head_title %}{% endblock %}</title>
    {% block meta_name_description %}{% endblock %}

	<meta name="keywords" content="prensa, resumen, económica, economía, actualidad" />
	<meta http-equiv="content-language" content="es-ES">
	<meta name="language" content="spanish">
	<meta name="La Prensa de Hoy" content="" />
	<link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />
	<link href="/static/css/resumen_detail.css" rel="stylesheet" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:light' rel='stylesheet' type='text/css'>

    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.2.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='/static/js/jquery.lavalamp.1.4.min.js'></script>
    <!--<script type='text/javascript' src='/static/js/jquery.easing.js'></script>-->
    <!--<script type='text/javascript' src='/static/js/jquery.easing.compatibility.js'></script>-->
    <script type="text/javascript" src="/static/js/jquery.ui.totop.min.js"></script>
    <script type="text/javascript">
    $(function(){$('ul#menulava').lavaLamp({ speed: 700 })});
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'moccaUItoTop', // fading element id
                containerHoverClass: 'moccaUIhover', // fading element hover class
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */
            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    <script type="text/javascript">
    /*$(document).ready(function(){
        $(".trigger").bind(" click touch tap ", function(){
            $("#rightColumn").toggle("fast");
            $(this).toggleClass("display");
            return false;
        });
        $(".indice").bind("click touch tap", function(){
            $("#rightColumn").toggle("fast");
            return;
        });
    });*/
/*
        $(document).ready(function() {
            $('#click').click(function(){
                $("#rightColumn").animate({width:'toggle'},500);
            });
        });
*/
    </script>
	{% block estilo %}{% endblock %}
	{% block js %}{% endblock %}

	<!--[if IE]>
	<style>
	legend {
	position: absolute;
	top: -.5em;
	left: .2em;
	padding-bottom: .1em;
	}
	
	fieldset {
	position: relative;
	margin-top: 1em;
	padding-top: .8em;
	padding-left: .4em;
	}
	fieldset input {
	left: .2em;
	}
	</style>
	<![endif]--> 
</head>

<body>
<div id="wrapper">

<!-- start header -->
    <div id="header">
    
    <h1><a href="/"></a></h1>
    <form action="/buscar/">
        <input type="text" id="id_keywords" name="keywords" value="Buscar resúmenes..." onfocus="if (value =='Buscar resúmenes...'){value =''}" onblur="if (value ==''){value='Buscar resúmenes...'}" />
        <input type="hidden" value="keywordsearch" name="tipobusqueda">
        <input type="submit" value=" " id="searchsubmit"/>
    </form>
   	<div id="usuarios">
    	<ul>
       		{% if user.is_authenticated %}
                {% comment %}
                <li><a href="/ezpdf_sample/" class="gray-btn">PDF</a><span> /&nbsp;</span></li>
                {% endcomment %}
       		    <li class="printer"><a href="javascript:window.print()">Imprimir</a><span> /&nbsp;</span></li>
       			<li><a href="/usuario/logout/">Salir</a></li>
       		{% else %}
                {% comment %}
                <li><a href="/ezpdf_sample/" class="gray-btn">PDF</a></li>
                {% endcomment %}
       		    <li class="printer"><a href="javascript:window.print()">Imprimir</a><span> /&nbsp;</span></li>
       			<li><a href="/resumenes/">Acceso</a><span> /&nbsp;</span></li>
       			<li><a href="/register/">Registrarse</a></li>
       		{% endif %}
    	</ul>
   	</div>
    
    </div>
{% block navi %}
{% endblock %}

<!-- end header -->

	<!-- start page -->
	{% block contenido %}
	{% endblock %}
	{% comment %} 
	<div id="page">
		<!-- start content -->
		{% block content %}
		{% endblock %}
		<!-- end content -->
		
		<!-- start sidebars -->
		{% block sidebar %}
		{% endblock %}
		<!-- fin div sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	{% endcomment %}
	<!-- end page -->
<div id=footer align="center">
<script language="Javascript" type="text/javascript" src="http://widgets.elpais.com/liga/wlaunch.html?c=gris&w=400">  
</script> 

</div>
<!-- fin div wrapper -->

</div>
</div>

</body>
</html>
