{% extends "base_buscar.html" %}
{% block head_title %}{{ block.super }} Búsqueda{% endblock %}
{% block meta_name_description %}
<meta name="description" content="Búsqueda de conciertos de música clásica.Buscar por intérpretes, compositores, época, genero, precio, ciclos de música clásica y fechas.">
{% endblock %}

{% block estilo %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css" /> --> 
<!-- <link rel="stylesheet" type="text/css" href="/static/css/thickbox.css" /> -->
{% endblock %}

{% block js %}
    <!-- <script type="text/javascript" src="/static/js/autocomplete/jquery.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/autocomplete/jquery.bgiframe.min.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/autocomplete/jquery.ajaxQueue.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/autocomplete/thickbox-compressed.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/autocomplete/jquery.autocomplete.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/autocomplete/localdata.js"></script> -->
    <script type="text/javascript" src="/static/js/search.js"></script>

    {% comment %}
    <script type="text/javascript">
    $().ready(function() {

    function log(event, data, formatted) {
        $("<li>").html( !data ? "No match!" : "Selected: " + formatted).appendTo("#result");
    }
    
    function formatItem(row) {
        return row[0] + " (<strong>id: " + row[1] + "</strong>)";
    }
    function formatResult(row) {
        return row[0].replace(/(<.+?>)/gi, '');
    }
    
    $("#suggest1").focus().autocomplete(cities);
    $("#id_keywords").autocomplete(cities, {
        multiple: true,
        matchContains: true,
        multipleSeparator: " ",
        autoFill: true
    });
    
    $(":text, textarea").result(log).next().click(function() {
        $(this).prev().search();
    });
    $("#scrollChange").click(changeScrollHeight);
    
    $("#clear").click(function() {
        $(":input").unautocomplete();
    });
});

    </script>
    {% endcomment %}

{% endblock %}

{% block page_title %}Buscador La Prensa de Hoy{% endblock %}
{% block navi %}
<div id="navi">
    <ul class="lavaLamp">
        <li><a title="Inicio La Prensa de Hoy" href="/">Inicio</a></li>
        <li class="current"><a title="buscar" href="/buscar/">Búsqueda</a></li>
        <li><a title="noticias" href="/resumenes/">Resúmenes</a></li>
        <li><a title="demo" href="/demo/">Demo</a></li>
        <li><a title="contacte con La Prensa de Hoy" href="/contacto/">Contacto</a></li>
    </ul>
</div>  
{% endblock %}


{% block contenido %}
<div id="container-top"></div>
<div id="container">
<div id="content">
    <div id="posts"><!-- posts-start -->
        <div class="post text">
            <div class="postinfo">
                <div class="labels">
                        <div class="date">
                            <span class="smaller">{{ ahora|date:"M" }}</span><br><span>{{ ahora|date:"j" }}<span><br></span></span>
                        </div>
                </div>
        
                    
            </div><!-- .postinfo -->
            <span class="posttitle"><h2>Búsqueda en el Archivo de La Prensa de Hoy</h2></span>
            <div class="regular_post_body">
                <p>La función de búsqueda permite buscar palabras clave sobre el Archivo de La Prensa de Hoy.</p>
                <p>Funcionalidad:</p>
                <ul><li>Búsqueda en un periodo de tiempo.</li>
                <li>Periodos de tiempo: diario, mensual, anual.</li>
                <li>Acceso directo al documento original.</li>
                </ul>
            </div>
            <a rel="nofollow" href="#" class="vialink">Comentarios</a>
            <br class="clear">
            <div id="search-resultados">
                {{ lista_resultados }}
            </div>
        </div><!-- .post -->
    </div><!-- #posts --><!-- posts-end -->
    
    <div id="sidebar">

        <br>
        <h2>Buscar</h2>
        <br>
    <div id="buscador">
        {% block form1 %}
        <form id="search-form" method="get" action=".">
            <table><tbody>
            <tr><td>
            <input type="text" id="id_keywords" name="keywords" maxlength="40" />
            <input type="hidden" name="tipobusqueda" value="keywordsearch" />
            <input type="submit" value=" " id="searchsubmit"/></td></tr>
            <tr><td>
            <select name="fecha_periodo" id="id_fecha_periodo">
                <option value="DI">Diario</option>
                <option value="SE">Semanal</option>
                <option value="ME">Mensual</option>
                <option value="AN">Anual</option>
            </select></td></tr>
            </tbody></table>
            </table>
            <input type="reset" id="borrador" value="Borrar">
        </form>
        {% endblock %}
    </div>
    <div id="errores">
        {{ form_key.keywords.errors }}
    </div>
        
        <br>
        
        <h2>Info</h2>
        <span id="about-text">Introduzca las palabras clave en el campo superior y pulse Intro o cliquée la lupa.
<br><br>
Puede limpiar el campo de búsqueda pulsando en Borrar.


        <br class="clear">
        
        <br>



        <ul class="links">
            
            <li><span><a href="/resumenes/">Resúmenes</a></span></li>
            
            
            
            <li><span><a href="/contacto/">Contacto</a></span></li>
        </ul>

     
                
                <div id="buttons">
                    <div class="row">
                        <div class="button" id="button-archive"><a href="/resumenes/">Archivo</a></div>
                        <div class="button" id="button-mobile"><a rel="nofollow" href="#">Móvil</a></div>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="button" id="button-rss"><a href="http://www.twitter.com/prensadehoy">Twitter</a></div>
                        <div class="button" id="button-random"><a rel="nofollow" href="#">Estadísticas</a></div>
                    </div>
                    <div class="clear"></div>
                </div>

        </div>
        </div><!-- #content -->
    </div><!-- #container -->
    <div id="container-bottom">
        
            <div id="load-more-posts"><span class="spinner"></span><p>Load more posts…</p></div>        
            <div id="hidden_navinfo"><!-- this is necessary for ajax pagination --><span class="startpage">1</span><span class="totalpages">3</span></div>
             <div id="classic-pagination">
                
                 <a href="http://ppa.webupd8.org/page/2" id="next-page">Next page</a>
            </div><!-- #classic-pagination -->
        
        <a rel="nofollow" href="http://www.pixelunion.net/" id="pixelunion-link">To Tumblr, Love PixelUnion</a>
    </div>

    
    
    <br>

{% endblock contenido %}
