{% extends "base.html" %}

{% block head_title %}Gracias{% endblock %}

{% block navi %}
<div id="navi">
    <ul class="lavaLamp">
        <li class="current"><a title="Inicio La Prensa de Hoy" href="/">Inicio</a></li>
        <li><a title="buscar" href="/buscar/">Búsqueda</a></li>
        <li><a title="noticias" href="/resumenes/">Resúmenes</a></li>
        <li><a title="demo" href="/demo/">Demo</a></li>
        <li><a title="contacte con La Prensa de Hoy" href="/contacto/">Contacto</a></li>
    </ul>
</div>
{% endblock %}

{% block contenido %}
<div id="content">
<h1>
Gracias por suscribirse a La Prensa de Hoy.
<br /><br />
Nos pondremos en contacto con usted.
</h1>
</div>
{% endblock %}



