{% extends "base_resumen.html" %}
{% block meta_name_description %}
<meta name="description" content="Archivo anual de artículos de música clásica.">
{% endblock %}

{% load sidebar_tags %}

{% block head_title %}Noticias publicadas en {{ year }}{% endblock %}
{% block navi %}
<div id="navi">
    <ul class="lavaLamp">
        <li><a title="Inicio La Prensa de Hoy" href="/">Inicio</a></li>
        <li><a title="buscar" href="/buscar/">Búsqueda</a></li>
        <li><a title="noticias" href="/resumenes/">Resúmenes</a></li>
        <li class="current"><a title="demo" href="/demo/">Demo</a></li>
        <li><a title="contacte con La Prensa de Hoy" href="/contacto/">Contacto</a></li>
    </ul>
</div>  
{% endblock %}

{% block contenido %}
    <div id="resumen">
        <table id="resultados" class="load" width="100%" border="1" cellspacing="0">
            <caption>Resúmenes publicados en {{ year }}</caption>
            <tbody>
                <tr class="filas">
                    <td><h2>Por favor, seleccione un mes en la columna izquierda</h2></td>  
                 </tr>
            </tbody>
        </table>
    </div>
    
    <div id="historicos">
    <div class="sidebaritem">
    <div class="sidebaritem_top"><a class="title" href="#">Archivos</a></div>    
        {% get_archivos %}
        {% if year_range %}
        <div id="rango">
        {% for year in year_range %}
            <h4>{{ year.year }}</h4>
            <ul>
            {% for month in month_range %}
                {% ifequal year.year month.year %}
                    <li><a href="{{ ROOT_URL }}/demo/{{ year.year }}/{{ month|date:"m" }}/">{{ month|date:"F" }}</a></li>
                {% endifequal %}
            {% endfor %}
        </ul>
        {% endfor %}
        </div>
        {% endif %}
    </div>    
    </div>
    <div class="blank"></div>

{% endblock %}
